/* ===== Libraries for Sass ===== */
/* ======  Sass Variables ====== */
/* ===== Media Queries ===== */
/* ===== Base Styles/Helpers ===== */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import "https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ===== Base Styles - Some starting defaults with low specificity. ===== */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: #fafaf4;
  background-image: url("/img/background.png");
  background-repeat: repeat; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

@media (max-width: 675px) {
  html,
  body {
    min-width: 320px; }

  body {
    -webkit-text-size-adjust: none; } }
.u-cf:after, .u-cf:before {
  content: ' ';
  display: table; }
.u-cf:after {
  clear: both; }

.u-ir {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden; }

.u-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* ===== Layout Partials ===== */
.header {
  background-color: #3c3c3b;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6000; }

.header__title {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase; }

@media (max-width: 675px) {
  .header {
    font-size: 1.500em;
    line-height: 1.5em;
    padding: 0.417em 5%; } }
@media only screen and (min-width: 676px) {
  .header__title {
    font-size: 3em;
    line-height: 1.5em;
    padding: 0 5%; } }
@media (max-width: 675px) {
  .main {
    margin: 5em 5% 2em; } }
@media only screen and (min-width: 676px) {
  .main {
    background-color: rgba(255, 255, 255, 0.55);
    border: 1px solid #d5d5d0;
    margin: 7em auto 2em;
    padding: 4.5%;
    width: 95%; } }
@media only screen and (min-width: 1001px) {
  .main {
    padding: 2em;
    width: 90%; } }
/* ===== Componenent Pieces ===== */
/* ===== Typography Styles ===== */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

*,
*:before,
*:after {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit; }

html {
  color: #3c3c3b;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px; }

/* ===== Heading Styles ===== */
h1,
h2 {
  font-family: "Oswald", Arial, sans-serif; }

h3,
h4,
h5,
h6 {
  font-family: "Roboto", Arial, sans-serif; }

/* ===== Anchor Styles ===== */
a {
  color: #116CD6;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/* ===== Paragraph Styles ===== */
.p {
  line-height: 1.625em;
  margin: 0; }
  .p + p {
    margin-top: 1.125em; }

/* ===== List Styles ===== */
.ul > li {
  min-width: 160px;
  overflow: hidden;
  padding-left: 15px;
  position: relative; }
  .ul > li:before {
    content: '\b7';
    font-size: 24px;
    left: 0;
    position: absolute;
    top: -4px; }

/* ===== Text Styles ===== */
strong,
b {
  font-weight: bold; }

em,
i {
  font-style: italic; }

.block h3,
.block h4 {
  font-weight: 700; }

.block__title {
  border-bottom: 1px solid #d5d5d0;
  color: #3c3c3b;
  padding-bottom: 0.3em;
  text-shadow: 2px 2px 1px #d5d5d0;
  text-transform: uppercase; }

@media (max-width: 675px) {
  .block {
    margin-bottom: 2em; }
    .block h3 {
      font-size: 1.125em; }

  .block__title {
    font-size: 1.325em;
    margin: 0 0 .5em;
    padding-bottom: 0.2em; }

  .block--work .block__title {
    margin-bottom: 0.813em; } }
@media only screen and (min-width: 676px) {
  .block {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    margin-top: 2em;
    overflow: hidden;
    padding: 2em; }
    .block h3 {
      font-size: 1.188em; }
    .block h4 {
      font-size: 1.063em;
      line-height: 1.25em; }

  .block__title {
    font-size: 1.8em;
    margin: 0 0 1em; }

  .block.block--bio {
    float: none;
    margin: 0 auto;
    max-width: 40em; }

  .block--bio .block__title {
    text-align: center; } }
@media only screen and (min-width: 1001px) {
  .block {
    float: left; }

  .block--education {
    margin-left: 2%;
    width: 44%; }

  .block--examples {
    margin-left: 2%;
    width: 40%; }

  .block--skills {
    margin-right: 2%;
    width: 52%; }

  .block--work {
    margin-right: 2%;
    width: 56%; } }
.education__list li {
  line-height: 1.500em;
  margin-top: 1.250em; }
  .education__list li:first-child {
    margin-top: 0; }

.examples__item {
  line-height: 1.625em;
  margin-top: 1.3em; }
  .examples__item:first-child {
    margin-top: 0; }

.skill-list {
  float: left; }
  .skill-list li {
    line-height: 1.3em;
    margin-top: 0.3em; }
    .skill-list li:before {
      top: 0; }
    .skill-list li:first-child {
      margin-top: 0; }

@media (max-width: 675px) {
  .skill-list {
    margin-bottom: 1em;
    width: 50%; }
    .skill-list:last-child {
      margin-bottom: 0; }

  .skill-list__title {
    margin-bottom: 0.8em; } }
@media only screen and (min-width: 676px) {
  .skill-list {
    margin-bottom: 1.5em;
    width: 50%; }

  .skill-list__title {
    margin-bottom: 1em; } }
@media only screen and (min-width: 1001px) {
  .skill-list {
    width: 45%; }
    .skill-list:nth-of-type(even) {
      margin-left: 10%; } }
.work-item:last-child {
  margin-bottom: 0; }

.work-item__date {
  font-style: italic;
  font-weight: 700; }

.work-item__tasks {
  margin-top: 0.5em; }
  .work-item__tasks li {
    line-height: 1.475em;
    margin-top: 0.55em; }
    .work-item__tasks li:before {
      top: 0; }
    .work-item__tasks li:first-child {
      margin-top: 0; }

@media (max-width: 675px) {
  .work-item {
    margin-bottom: 1.5em; }

  .work-item__date {
    margin-bottom: 0.250em; }

  .work-item__title {
    margin-bottom: 0.321em; } }
@media only screen and (min-width: 676px) {
  .work-item {
    margin-bottom: 2em; }

  .work-item__date {
    font-size: 0.938em;
    margin-bottom: 8px; }

  .work-item__title {
    margin-bottom: 0.321em; } }
